@media (max-width: 600px) {
    nav  {
        display: grid;
        justify-items: center;
    }  
    .home-main-text {
        margin: 12px;
    }
    header .header-icons-container .icons {
        justify-items: center;
        justify-self: center;
    }
}